<h1>My Cart</h1>

<%= @cart_items %>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>option1</th>
      <th>option2</th>
      <th>quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |item_id, quantity| %>
      <tr>
        <% item = Option.find(item_id) %>
        <td><%= image_tag item.product.image.thumb %></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.price %>원</td>
        <td><%= item.option1 %></td>
        <td><%= item.option2 %></td>
        <td><%= quantity %></td>
        <td>
          <%= link_to fa_icon("pencil"), edit_cart_item_path(item), remote: true, data: { target: 'modalWindow', toggle:'modal'} %>
        </td>
        <td>
          <%= link_to fa_icon("eraser"), destroy_cart_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }%>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<div class="modal fade" id="modalWindow" role="dialog" aria-hidden="true" aria-labelledy="modalWindowLable">
  <div class="modal-dialog">
    <div class="modal-content">
        
    </div>
  </div>
</div>

<div id="payment-info">
  <%= @total_price %> 원
  <%= link_to "payment", new_payment_path, class: "btn btn-primary" %> 
</div>