
<%= form_for(comment) do |f| %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
  <%#= f.text_field :title %>
  <div class="input-group">
    
    <div class="input-group-prepend">
      <span class="input-group-text"><%= current_user.profile.name %> </span>
    </div>
    
    <%= f.text_field :comment, class:"form-control" %>
    
    <div class="input-group-append">
      <%= f.submit "save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
