<h2>Stock management</h2>
<hr>
<% @products.each do |product| %>
  <div class="row  text-center">
    <div class="col-md-3">
      <%= image_tag product.image.thumb,style: "display: inline-block" %>
  
      <h4><%= product.name %></h4>
      <%= link_to "Edit-option", edit_product_path(product), class:"btn" %>
    </div>
  <table class="table col-md-9">
    <thead>
      <tr>
        <th scope="col">option1</th>
        <th scope="col">option2</th>
        <th scope="col">stock</th>
      </tr>
    </thead>
    
    <tbody>
      <% product.options.each do |option| %>
        <tr>
          <td><%= option.option1 %></td>
          <td><%= option.option2 %></td>
          <td><%= option.stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <hr>
<% end %>