<p id="notice"><%= notice %></p>

<div class="store-info">
  <div class="row">
    <div class="user-img col-sm-4 ">
      <%= image_tag "https://img.icons8.com/cotton/1600/online-store.png" %>
    </div>
    
    <div class="col-sm-8 text-left ">
      <div>
        <%= @store.name %>
        
        <% if @store.user == current_user %>
          <%= link_to "Edit-Store", edit_store_path(@store) , class: "btn btn-sm"  %>
          <%= link_to "Stock-manage", manage_store_path(@store), class: "btn btn-sm" %>
        <% else %>
          <%= render 'layouts/follow', followable: @store.user %>
        <% end %>
      </div>
      
      <div>
        Product: <%= @store.products.count %> | Follower <%= @store.followers_count %>
      </div>
      <div>
        <p>
          <%= @store.regist_number %><br>
          <%= @store.postcode %><br>
          <%= @store.address %><br>
          <%= @store.address2 %><br>
          <%= @store.phone_number %><br>
        </p>
        
        
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <h2>Products</h2>
  <% if @store.user == current_user %>
    <%= link_to "Add-Product", new_product_path, class: "btn" %>
  <% end %>
    <div class="card-columns">
      <% @products.each do |p| %>
        <% if p.image %>
          <%= image_tag p.image.thumb, class: "card-img" %>
        <% else %>
          <%= image_tag "https://webkit.org/demos/srcset/image-src.png" , class: "card-img"%>
        <% end %>
      <% end %>
    </div>
</div>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
