<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Regist number:</strong>
  <%= @store.regist_number %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @store.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @store.address2 %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @store.phone_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @store.account_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @store.user.email %>
</p>

<hr>
<div class="user-info">
  <%= render "layouts/vote", votable:@store %>
</div>

<div class="container">
  <h2>Products</h2>

    <div class="card-columns">
      <% @store.products.each do |p| %>
        <% if p.image %>
          <%= image_tag p.image.thumb, class: "card-img" %>
        <% else %>
          <%= image_tag "https://webkit.org/demos/srcset/image-src.png" , class: "card-img"%>
        <% end %>
      <% end %>
    </div>
</div>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
